.jp {
  &__header {
    position: fixed;
    top: 0;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 10vh;

    z-index: 200;
    pointer-events: none;
    &__textrel {
      height: 100%;
      width: 100%;
      position: relative;
    }

    &__underline {
      content: "";
      position: absolute;
      width: 80%;
      height: 1px;
      background: $main;

      opacity: 0;
      z-index: 200;
      top: calc(10vh - 1px);
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 0.3s linear;
      &.open {
        opacity: 0.8;
      }
    }

    &__textabs {
      position: absolute;
      left: 0;
      padding-left: 10%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      top: 50%;

      transform: translateY(-50%);
      width: 100%;

      & h1 {
        margin: 0 !important;
        text-transform: uppercase;
        font-size: 1.8rem;
        color: $main;
      }
    }

    &__weatherabs {
      right: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      & canvas {
        width: 100px;
      }
    }
  }
}
