
.loader__wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 20%;
  position: relative;
  text-align: center;

}

.loader-jp {
    padding-top: 0 !important;
}

.loader__wrapper2 {
  width: 10%;
  margin: 0 auto;
  text-align: right;
}

.loader__bus {
  width: 50%;
  z-index: 10;
  animation: bounce 100ms infinite alternate;
}

.loader__road {
  position: absolute;
  bottom: 2px;
  right: 50%;
  animation: road 1s ease-out infinite;
}

@keyframes road {
  0% {
    transform: translateX(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-2%)
  }
}

//@keyframes size {
//  from {
//    transform: scale3d(0.75, 0.75, 0.75);
//    transform: translateX(-350%);
//
//  }
//
//  20% {
//    transform: scale3d(1, 1, 1);
//  }
//
//  to {
//    transform: scale3d(0.75, 0.75, 0.75);
//    transform: translateX(-350%);
//  }
//}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 40px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $db_blue;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.more {
  text-align: center;
}
