
@mixin orange_gradient {
    background: #c02425;
    background: -webkit-linear-gradient(
      to right,
      #f0cb35,
      #c02425
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f0cb35,
      #c02425
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  @mixin blue_gradient {
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #92fe9d,
      #00c9ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #92fe9d,
      #00c9ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  @mixin pink_gradient {
    background: #f953c6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #b91d73,
      #f953c6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #b91d73,
      #f953c6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  @mixin relative {
    position: relative;
    height: 100%;
    width: 100%;
  }

  @mixin absolute($left, $top, $translate) {
    position: absolute;
    top: $top;
    left: $left;
    transform: $translate;
  }
  