$main_col: red;
$main: #707070;
$light_grey: #d0d0d0;
$blue: #76c8e6;
$db_yellow: #FFCB02;
$db_blue: #3D5F7E;
$ion_blue: #3880ff;
$bus_yellow: #F9DE69;
$bus_blue: #409CE0;
$bus_orange: #FFA200;

:root {
  --ion-color-busyellow: #ffd700;
  //--ion-safe-area-top: 20px;
}