.action_button {

    &__container {

        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 1;
        width: calc(100% - 4rem);
       
    }

    &__rel-container {
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    &__button {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
        position: absolute;
        right: 0;

        &--search {
            z-index: 3;
            @include blue_gradient;
        }

        &--weather {
            @include orange_gradient;
            top: 6rem;
        }

        &--location {
            @include pink_gradient;
            top: 12rem;
        }

    }

    &__icon {
        height: 3rem;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 3rem;
        top:50%;
        left: 50%;


         color: white;
        
    }

    &__search {

        &__container {
            position: absolute;
            width: 5rem;
            height: 5rem;
            right: 0;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            top: 0;
            background: white;
            border-radius: 5rem;
            opacity: 0;
            transition: all .2s ease-out;
            z-index: 2;
        }

        &__rel-container {
            @include relative;
        }

        &__input-container {
            @include absolute(2rem, translateY(-50%));
            background: blue;
            width: calc(100% - 9rem);
            
            & input {

                width: 100%;
                border: none;
                padding: 1rem;
                font-size: 1.6rem;
            }
        }


    }
    
    
 
}

.search-out {
    width: 100%;
    opacity: 1;

    &-button {
        & ion-icon {
            color: white;
        }
    }
}