
ion-tabs {
    height: 0;
    position: absolute;
    top: 100%;

  
}


ion-tab {

    border-radius: 3rem;
}

ion-tab-bar {
    --border: none;
}

.drawer-content {
    opacity: 1;
}
ion-content {
    width: 100%;
    height: 80%;
}
ion-tab-button {
    --color-selected:#FFCB02;
    --ripple-color: rgba(0,0,0,0);
}

.tabbar-container {
    position: fixed;
    background: white;
    bottom: 0;
    width: 100%;
    z-index: 100;
    border-radius: 3rem;
}