<ion-tab tab="favourites">
    <div id="favourites-container" class="favourites__container">
        <div class="favourites__head">
            <ion-grid>
                <ion-row class="favourites__head__title">
                    <ion-col class="favourites__head__title__col" size="12" align-self-center>
                        <div>My Favourites</div>
                    </ion-col>
                </ion-row>
                <ion-row class="favourites__head__subtitle">
                    <ion-col size="4" align-self-end class="favourites__head__subtitle__col1" id="_stops">
                        <span> Stops</span>
                    </ion-col>
                    <ion-col size="4" align-self-end class="favourites__head__subtitle__col2" id="_routes">
                        <span> Routes</span>
                    </ion-col>
                    <ion-col size="4" align-self-end class="favourites__head__subtitle__col3" id="_journeys">
                        <span> Journeys</span>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
        <div class="favourites__content">
            
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">

                        <div class="stops__content__wrapper" id="favourite_stops__content__wrapper">
                            <ion-alert-controller></ion-alert-controller>
                            <div id="favourite_stops__cards__in__favo">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">

                        <div class="routes__content__wrapper" id="favourite_routes__content__wrapper">
                            <div id="favourite_routes__cards__in__favo">
                            </div>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        
                        <div class="favourite-journeys-container">


                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-tab>
