<ion-tab tab="journey">
  <ion-content fullscreen class="drawer-content">
    <div class="journey-planner">
      <div class="journey-planner__form-container">
        <h1 class="journey-planner__title">Journey Planner</h1>

        <form action="" class="journey-planner__form" id="submitter-form">
          <div
            class="journey-planner__form__input-container"
            id="from-container"
          >
            <ion-icon name="pin"></ion-icon>
            <div class="journey-planner__form__label">
              <h3>From</h3>
            </div>
            <input
              required
              type="text"
              class="journey-planner__form__input"
              id="from"
              placeholder=""
            />
          </div>
          
          <div class="journey-planner__form__input-container" id="to-container">
            <ion-icon name="pin"></ion-icon>
            <div class="journey-planner__form__label focus">
              <h3>To</h3>
            </div>
            <input
              required
              type="text"
              class="journey-planner__form__input"
              id="to"
              placeholder=""
            />
            
          </div>
          <div
            class="journey-planner__form__input-container"
            id="departing-container"
          >
            <ion-icon name="md-time"></ion-icon>
            <div class="journey-planner__form__label focus">
              <h3>Departing</h3>
            </div>
            <ion-datetime
              id="departing"
              display-format="MMM DD, HH:mm"
              picker-format="YYYY MMM DD, HH:mm"
              value=""
            ></ion-datetime>
          </div>
          <div class="submitter">
            <div
              id="go-submit"
              class="journey-planner__form__submit form-submit"
            >
              <button class="form-abs" id="sub-button">
                Let's go!
              </button>
            </div>
          </div>
          <div class="img-button">
            <!-- <img src="/static/images/switch.png" alt="" /> -->
            <ion-icon id="swapper" name="swap"></ion-icon>
          </div>
          <div class="heart-img-container">
            <div class="heart-img-container__inner" id="save-journey">
              <ion-icon name="heart-empty"></ion-icon>
            </div>
          </div>
        </form>
      </div>
      <div class="journey-planner__routes-container">
        <div class="journey-planner__moreInfoContainer"></div>
        <div class="journey-planner__routes__scroll-area" id="routesHere">
          <div class="error-container">
            <div class="error-inner">
              <h1>LOLOLOL</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-tab>

