<ion-tab tab="journey">
  <ion-content fullscreen class="drawer-content">
    <div class="journey-planner">
      <div class="journey-planner__form-container">
        <h1 class="journey-planner__title">Journey Planner</h1>

        <form action="" class="journey-planner__form">
          <div class="journey-planner__form__input-container">
            <div class="journey-planner__form__label">
              <h3>From</h3>
            </div>
            <input type="text" class="journey-planner__form__input" />
          </div>
          <div class="journey-planner__form__input-container">
            <div class="journey-planner__form__label focus">
              <h3>To</h3>
            </div>
            <input type="text" class="journey-planner__form__input" />
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-tab>
