<ion-tab tab="routes">
    <ion-grid class="search-container">
        <ion-row>
            <ion-col size="12">
                <div id="search-container">
                    <input class="typeahead" type="text" placeholder="Search for stop or route">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="drawer__search__title">
        <div class="drawer__search__title__label">
            <span id="drawer__search__title__stop"></span><br>
        </div>
    </div>
    <div id="drawer_container_timeline" style="">
        <div class="drawer__search__title__direction">
            <span id="drawer__search__title__direction"></span>
        </div>
        <div id="timeline-wrapper" class="timeline-wrapper">
            <span>Change direction</span>
            <label class="timeline-wrapper_switch">
                <input type="checkbox" id="direction_switch">
                <span class="slider round"></span>
            </label>
            {#        <span>Outbound</span>#}
            <div class="timeline-wrapper__content__box">
                <ul class="timeline-wrapper__content" id="timeline__content">
                    {#            <li class="timeline-wrapper__content__event">#}
                    {#                <h3 class="timeline-wrapper__content__h3">Dinosaurs Roamed the Earth <i id="">-1123</i></h3>#}
                    {#            </li>#}
                </ul>
            </div>
        </div>
    </div>
</ion-tab>