<ion-tab tab="sightseeing">
        <div id="sightseeing__category" class="sightseeing__category">
            <ion-grid>
                <ion-row class="sightseeing__category__head">
                    <ion-col size="12" align-self-center>
                        <div class="sightseeing__category__head__col">
                            Tourist Information
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="sightseeing__category__content__row" justify-content-center >
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="md-images" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Sightseeing</span>

                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="ios-restaurant" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Restaurant</span>
                    </ion-col>
                </ion-row>
                <ion-row class="sightseeing__category__content__row" justify-content-center >
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="md-wine" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Nightlife</span>

                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="ios-cafe" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Coffee</span>
                    </ion-col>
                </ion-row>
                <ion-row class="sightseeing__category__content__row" justify-content-center >
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="ios-bed" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Hotel</span>

                    </ion-col>
                    <ion-col size="2">

                    </ion-col>
                    <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                        <ion-icon name="md-basket" class="sightseeing__category__content__icon"></ion-icon>
                        <span class="sightseeing__category__content__label">Shopping</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
</ion-tab>
