<ion-tab tab="sightseeing">
    <div id="sightseeing__category" class="sightseeing__category" style="display: none">
        <ion-grid>
            <ion-row class="sightseeing__category__head">
                <ion-col size="12" align-self-center>
                    <div class="sightseeing__category__head__col">
                        Tourist Information
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="sightseeing__category__content__row" justify-content-center>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="md-images" class="sightseeing__category__content__icon" id="Sightseeing"></ion-icon>
                    <span class="sightseeing__category__content__label">Sightseeing</span>

                </ion-col>
                <ion-col size="2">

                </ion-col>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="ios-restaurant" class="sightseeing__category__content__icon"
                              id="Restaurant"></ion-icon>
                    <span class="sightseeing__category__content__label">Restaurant</span>
                </ion-col>
            </ion-row>
            <ion-row class="sightseeing__category__content__row" justify-content-center>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="md-wine" class="sightseeing__category__content__icon" id="Nightlife"></ion-icon>
                    <span class="sightseeing__category__content__label">Nightlife</span>

                </ion-col>
                <ion-col size="2">

                </ion-col>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="ios-cafe" class="sightseeing__category__content__icon" id="Coffee"></ion-icon>
                    <span class="sightseeing__category__content__label">Coffee</span>
                </ion-col>
            </ion-row>
            <ion-row class="sightseeing__category__content__row" justify-content-center>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="ios-bed" class="sightseeing__category__content__icon" id="Hotel"></ion-icon>
                    <span class="sightseeing__category__content__label">Hotel</span>

                </ion-col>
                <ion-col size="2">

                </ion-col>
                <ion-col size="3" class="sightseeing__category__content__col" align-self-center>
                    <ion-icon name="md-basket" class="sightseeing__category__content__icon" id="Shopping"></ion-icon>
                    <span class="sightseeing__category__content__label">Shopping</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div id="sightseeing__options" class="sightseeing__options">
        <div class="stops__head">
            <div id="stops__head__content">
                <div class="drawer__search__title">
                    <div class="drawer__search__title__label">
                        <span id="drawer__search__title__label">Dublin sightseeing</span><br>
                    </div>
                </div>
                <ion-grid class="search-container">
                    <ion-row>
                        <ion-col size="12">
                            <div id="search-container-sightseeing">
                                <input class="typeahead" id="" type="text"
                                       placeholder="Search for things to do...">
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <div class="sightseeing__options__cards">
            <div id="sightseeing__options__cards">
                <ion-card>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="5" class="sightseeing__options__cards__photo">
                                <img id="sightseeing__options__cards__photo" src=""/>
                            </ion-col>
                            <ion-col size="7" class="sightseeing__options__cards__info">
                                <ion-row>
                                    <ion-col size="12" class="sightseeing__options__cards__info__name">
                                        <span id="sightseeing__options__cards__info__name"></span>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12" class="sightseeing__options__cards__info__addr">
                                        <span id="sightseeing__options__cards__info__addr"></span>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12" class="">
                                        <div class="sightseeing__options__cards__info__ratting">
                                            <div class="sightseeing__options__cards__info__ratting__top"
                                                 id="sightseeing__options__cards__info__ratting">
                                                <span>★★★★★</span>
                                            </div>
                                            <div class="sightseeing__options__cards__info__ratting__bottom">
                                                <span>★★★★★</span>
                                            </div>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col size="12" class="sightseeing__options__cards__info__opening-hour">
                                        <span id="sightseeing__options__cards__info__opening-hour"></span>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </div>
        </div>
    </div>
</ion-tab>
