<div class="action_button__container">
  <div class="action_button__rel-container">
    <div
      class="action_button__button action_button__button--search search-button"
    >
      <ion-icon name="search" class="action_button__icon"></ion-icon>
    </div>
    <div class="action_button__search__container search-container">
        <div class="action_button__search__rel-container">
            <div class="action_button__search__input-container">
                    <input ondblclick="this.select()" onfocus="this.placeholder = ''" onblur="this.value= ''"
                    class="action_button__search__input search-input" type="text" placeholder="Search for somewhere in Dublin!">
            </div>
               
        </div>
        
    </div>
    <div class="action_button__button action_button__button--weather"></div>
    <div class="action_button__button action_button__button--location"></div>
  </div>
</div>
