
<div class="tabbar-container">
        <ion-tab-bar slot="bottom" >
            
                <ion-tab-button  tab="journey" id="journey-button"  class="tab-button">
                  <ion-label id="tab-button-journey">Journey</ion-label>
                  <ion-icon  id="tab-button-journey" name="git-compare" ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="stops" id="live-data-button" class="tab-button">
                  <ion-label id="tab-button-live-data">Live Data</ion-label>
                  <ion-icon id="tab-button-live-data" name="information-circle-outline"  ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="routes" id="sights-button"  class="tab-button">
                  <ion-label id="tab-button-sights">Route Info</ion-label>
                  <ion-icon id="tab-button-sights" name="git-commit" ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="sights" id="sights-button"  class="tab-button">
                  <ion-label id="tab-button-sights">Sights</ion-label>
                  <ion-icon id="tab-button-sights" name="images" ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="user" id="user-button" class="tab-button">
                  <ion-label id="tab-button-user">User</ion-label>
                  <ion-icon id="tab-button-user" name="contact"></ion-icon>
                </ion-tab-button>
              </ion-tab-bar>
            
</div>


