<div class="tabbar-container">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="journey" id="tab-button-journey" class="tab-button">
            <ion-label id="tab-button-journey">Journey</ion-label>
            <ion-icon id="tab-button-journey" name="map"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="routes" id="tab-button-routes" class="tab-button">
            <ion-label id="tab-button-routes">Routes</ion-label>
            <ion-icon id="tab-button-routes" name="bus"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="stops" id="tab-button-stops" class="tab-button">
            <ion-label id="tab-button-stops">Stops</ion-label>
            <ion-icon id="tab-button-stops" name="pin"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="sightseeing" id="tab-button-sightseeing" class="tab-button">
            <ion-label id="tab-button-sightseeing">Sightseeing</ion-label>
            <ion-icon id="tab-button-sightseeing" name="images"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="user" id="tab-button-user" class="tab-button">
            <ion-label id="tab-button-user">Favourites</ion-label>
            <ion-icon id="tab-button-user" name="heart"></ion-icon>
        </ion-tab-button>
        <ion-tab tab="none"></ion-tab>
    </ion-tab-bar>

</div>


