
<div class="tabbar-container">
        <ion-tab-bar slot="bottom" >
                <ion-tab-button  tab="journey" id="journey-button"  class="tab-button">
                  <ion-label id="journey">Journey</ion-label>
                  <ion-icon  id="journey" name="map" ></ion-icon>
                </ion-tab-button>
                
                <ion-tab-button  tab="routes" id="routes-button"  class="tab-button">
                  <ion-label id="routes">Routes</ion-label>
                  <ion-icon id="routes" name="bus" ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="stops" id="stops-button"  class="tab-button">
                  <ion-label id="stops">Stops</ion-label>
                  <ion-icon id="stops" name="pin" ></ion-icon>
                </ion-tab-button>
                <ion-tab-button  tab="sightseeing" id="sightseeing-button" class="tab-button">
                        <ion-label id="sightseeing">Sightseeing</ion-label>
                        <ion-icon id="sightseeing" name="images"  ></ion-icon>
                      </ion-tab-button>
                
                <ion-tab-button  tab="user" id="user-button" class="tab-button">
                  <ion-label id="user">Favourites</ion-label>
                  <ion-icon id="user" name="heart"></ion-icon>
                </ion-tab-button>
              </ion-tab-bar>
            
</div>


