.favourites {
  &__head {
    background-color: $bus_yellow;
    height: 16rem;

    &__title {

      color: $db_blue;
      font-size: 3rem;
      font-weight: bold;
      height: 10rem;
      text-align: center;
    }

    &__subtitle {
      text-align: center;
      color: $db_blue;
      font-size: 2rem;
      height: 5.5rem;
      font-weight: bold;

      &__col1 {
        border-bottom: solid 3px;
        border-bottom-color: $db_blue;
        padding-bottom: 1rem;
      }

      &__col2 {
        border-bottom: solid 3px;
        border-bottom-color: transparent;
        padding-bottom: 1rem;
      }

      &__col3 {
        border-bottom: solid 3px;
        border-bottom-color: transparent;
        padding-bottom: 1rem;
      }
    }
  }

  &__content {
    &__card {
      margin-bottom: 1rem;
    }
  }
}

.journey__content {
  &__card {
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
    color: $db_blue;

    &__row {
      padding-top: 5px;
    }

    &__icon1 {
      font-size: 1.5rem;
      text-align: center;
      color: $bus_blue;
    }

    &__icon2 {
      font-size: 25px;
      text-align: end;
      color: $db_blue;
      padding: 1rem 1rem 0 0;
    }

    &__icon3 {
      font-size: 2rem;
      color: $bus_blue;
      text-align: center;
    }

    &__start {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__to {
      font-size: 2rem;
      text-align: center;
      line-height: 0.5rem;
      padding: 0;
      color: $bus_blue;
      margin-top: -1.5rem;
    }

    &__end {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.favourite-journeys-container {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  width: 100%;
  height: 10rem;
  margin-top: 1.5rem;
}

#favourite_stops__content__wrapper {
  margin-top: 16px;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  width: 100%;
}

#favourite_routes__content__wrapper {
  margin-top: 16px;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  width: 100%;
}

.empty_favourite_wrapper {
  margin-top: 2rem;
}
.empty_favourite_div {
  margin: 0 auto;
  text-align: center;
}

.empty_favourite_icon {
  font-size: 25px;
  color: $db_blue;
}

.empty_favourite_title {
  text-align: center;
  font-weight: bold;
  font-size: 2.2rem;
  color: $db_blue;
}

.empty_favourite_subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: darkslategrey;
}
