.journey-planner {

    height: 100%;
    width: 100%;
    

    // ^ FORM CONTAINER

    &__form-container {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;

        // background: $db_yellow;  it will be yellow on transform
    }

    // * styles for converting to smaller version
    & .converted {
        background: blue;
    }

    &__title {
        font-size: 3.2rem;
        color: $db_blue;
    }

    &__form {
        padding: 1rem 4rem;
        width: 100%;


        &__input-container {
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background: $db_blue;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &__label {
            position: absolute;
            transform-origin: left;
            left: 0; 
            top: .5rem;
            transition: all .3s linear;

            

            & h3 {
                margin: 0;
                color: $db_blue;

            }
        }

        &__input {
            width: 70%;
            font-size: 1.8rem;
            display: block;
            border: none;
            color: $db_blue;
            padding: 1rem;
            padding-left: 0;
            margin-bottom: 2rem;
            padding-bottom: .5rem;
           
        }
    }
}

ion-datetime {
    font-size: 1.8rem;
    padding: 0;
    padding-top:1rem;
    padding-bottom: 0.5rem;
    color: $db_blue;
    text-align: left;
    

}

.focussed {

    & .journey-planner__form__label {
        top:-1rem;
        transform: scale(0.4);
        
    }
}