{% include "./partials/header.html" %} {% load static %}

<!-- This is the main body - every thing will go in here! -->

<div class="main">


    <div class="load-screen">

        <div class="load-screen__inner">
            <div class="load-screen__logo-container">
                <img src="/static/images/db_logo.png" alt="" class="load-screen__logo"/>
            </div>

        </div>
    <h2>The wheels on the bus go...</h2>
    <div class="load-screen__progress-container">
            <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar><br>
            <ion-progress-bar type="indeterminate" color="secondary" reversed></ion-progress-bar>
        </div>

    </div>

  {% include "./components/action_buttons.html" %}
  <ion-toast-controller></ion-toast-controller>
  <div class="map__container">
    <div id="map"></div>
  </div>
 
  <ion-tabs class="tabs">
    {% include "./drawers/bottom_drawer.html" %} 
    {% include "./components/tabs.html" %}
  </ion-tabs>
</div>


<script>
  var icon = "{{icon}}";
  var temperature = "{{temperature}}";
  var is_mobile = "{{ is_mobile }}" === "True";
  

  if (!is_mobile) {
      is_mobile_JS = false;
      document.querySelector('ion-tabs').style.width = '420px';
  } else {
      is_mobile_JS = true;
  }
</script>

{% include "./partials/footer.html" %}



