<!DOCTYPE html>
<html>
<head>
    <title>Routing test</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 80%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
        }

    </style>
</head>
<body>
<div class="col-md-6" style="margin-top: 10px">
    <div class="input-group" style="height: 100%">
        <input type="text" aria-label="start" class="form-control" id="route_start" placeholder="From...">
        <input type="text" aria-label="destination" class="form-control" id="route_end"
               placeholder="Destination">
        <div id="route_btn" class="input-group-prepend">
            <button id="route_btn" type="button" class="btn btn-success">
                Go
            </button>
        </div>
    </div>
</div>
<div>
    <table id="routes">
        <tr>
            <th>Route</th>
            <th>Direction</th>
            <th>Stop</th>
            <th>Arrival</th>
            <th>Travel time</th>
            <th></th>
        </tr>
    </table>
</div>
<div id="map" style="margin-top: 20px"></div>


<script>
    let resp;
    let directionsDisplay;

    function initMap() {
        let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 53.3471, lng: -6.26059},
            zoom: 13
        });
        let directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer({
            map: map,
        });

        let defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(53.281561, -6.364376),
            new google.maps.LatLng(53.400044, -6.215727));

        let input1 = document.getElementById('route_start');
        let input2 = document.getElementById('route_end');
        let options = {
            bounds: defaultBounds,
            types: ['establishment']
        };
        let autocomplete1 = new google.maps.places.Autocomplete(input1, options);
        let autocomplete2 = new google.maps.places.Autocomplete(input2, options);

        document.getElementById("route_btn").addEventListener("click", function () {
            directionsService.route({
                origin: document.getElementById('route_start').value,
                destination: document.getElementById('route_end').value,
                travelMode: 'TRANSIT',
                provideRouteAlternatives: true
            }, function (response, status) {
                resp = response;
                if (status === 'OK') {
                    $("td").remove();
                    for (let i = 0; i < response.routes.length; i++) {
                        let agent = response.routes[i].legs[0].steps[1].transit.line.agencies[0]["name"];
                        if (agent !== 'Dublin Bus') {
                            continue;
                        }
                        let departure_stop = response.routes[i].legs[0].steps[1].transit.departure_stop.name;
                        let arrival_stop = response.routes[i].legs[0].steps[1].transit.arrival_stop.name;
                        let head_sign = response.routes[i].legs[0].steps[1].transit.headsign;
                        let route_id = response.routes[i].legs[0].steps[1].transit.line.short_name;
                        let departure_time = response.routes[i].legs[0].steps[1].transit.departure_time.text;
                        let departure_time_value = response.routes[i].legs[0].steps[1].transit.departure_time.value.getTime() / 1000 + 3600;
                        let num_stops = response.routes[1].legs[0].steps[1].transit.num_stops;
                        let button = '<button type="button" class="btn btn-secondary" onclick="change_route(' + i + ')">Show</button>';

                        $.ajax({
                            url: "stop_list",
                            type: 'POST',
                            data: {
                                "route_id": route_id,
                                "start_point": departure_stop,
                                "end_point": arrival_stop,
                                "num_stops": num_stops,
                                "departure_time_value": departure_time_value,
                            },
                            success: function (resp) {
                                console.log(resp);
                                $("#routes").append("<tr>" + "<td>" + route_id + "</td>" + "<td>" + head_sign + "</td>" +
                                    "<td>" + departure_stop + "</td>" + "<td>" + departure_time + "</td>" + "<td>" + '0 min' +
                                    "</td>" + "<td>" + button + "</td>" + "</tr>");
                            },
                        });


                    }
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        });
    }

    function change_route(route_index) {
        directionsDisplay.setRouteIndex(route_index);
    }


</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}=places&callback=initMap"
        async defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
