<div class="drawer__container drawer__container--bottom">
    <div class="grabber"></div>
    <div class="drawer__container__grab" id="drawer__container__grab"></div>

    {% include "../tabs/journey_planner.html" %}

    {% include "../tabs/real_time_stop.html" %}

    {% include "../tabs/real_time_route.html" %}

    {% include "../tabs/sightseeing.html" %}

  <ion-tab tab="user">
    <ion-content fullscreen class="ion-padding drawer-content">
      <h1>User</h1>
    </ion-content>
  </ion-tab>

 
</div>
