
@import './normalize.scss';
@import 'project/Variables/variables';
@import 'project/Variables/mixins';
@import 'project/Drawer/drawer';
@import 'project/tabs/journey_planner';
@import 'project/tabs/journey_show';
@import 'project/Map/map';
@import 'project/Components/tabs';
@import 'project/Components/action-button';
@import 'project/Timeline/timeline';
@import 'project/Timeline/switch';
@import 'project/AutoComplete/auto-complete';
@import 'project/tabs/stops';
@import 'project/tabs/routes';
@import 'project/tabs/sightseeing';
@import 'project/Components/loader';
@import 'project/tabs/favourites';





:root {
    margin: 0;
    padding: 0;
    font-family: 'Actor', sans-serif;
    font-size: 62.5%;
    letter-spacing: 0rem;
    --ion-color-primary: #3D5F7E;
    --ion-font-family: Actor, sans-serif;
    --ion-color-busyellow: #ffd700;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input,
textarea,
[contenteditable] {
  caret-color: $db_blue;
}


.main {
    position: relative;
    width: 100%;
}

.main-cover {
    height: 100%;
    width: 100%;
    background: blue;
    z-index: 1000000;
    position: absolute;
    top: 0;
    left:0;
}

// input {
//     pointer-events: none;
// }



ion-tabs {
    z-index: 1;
}

ion-fab-button {
    margin-top: 1rem;
    margin-right: 1rem;
}

ion-card-content {
    padding: 0 !important;
}

ion-card {
    border-radius: 1.5rem !important;
  
}
