{% load render_bundle from webpack_loader %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script
            type="module"
            src="https://unpkg.com/@ionic/core@latest/dist/ionic/ionic.esm.js"
    ></script>
    <script
            nomodule=""
            src="https://unpkg.com/@ionic/core@latest/dist/ionic/ionic.js"
    ></script> 
    <link
      href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"
      rel="stylesheet"
    /> 
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/bloodhound.min.js"
            integrity="sha256-WJlyUMyJDhWTumC7/oaAtXFRBh0rZGc7qT80egxJafw=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.min.js"
            integrity="sha256-VCsWOz+0GuHdS/sIICtQNTFJdbaDI80rxvoB7BXabrU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.jquery.min.js"
            integrity="sha256-Dr2c2MZpJ7kUvTEtyitW4QV1nTh0JP/ifC7XYvyGgOw=" crossorigin="anonymous"></script>
    
    
            <link
            href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"
            rel="stylesheet"
    /> 



    {% render_bundle 'main' 'css' %}

    <link
      href="https://fonts.googleapis.com/css?family=Actor&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
</head>
<body></body>
</html>
