{% load render_bundle from webpack_loader %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

   

    <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
    <link
      href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

   

    {% render_bundle 'main' 'css' %}
    <title>Document</title>
  </head>
  <body>
   
        
            
  

      



      
